.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
build/
node_modules/
npm-debug.log*
Thumbs.db

# Temporary folders
tmp/
temp/

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history