.header {
  min-height: 120px;
  padding: 0 20px;
  text-align: center;

  &__title {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
  }

  &__info {
    margin: 0;
    font-size: 26px;
    color: #3b05ffd7;
  }
}