.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  cursor: pointer;

  &__title {
    margin: 0 20px 0 0;
  }

  &__number {
    font-size: 1.4em;
    margin-right: 10px;
  }

  &__scale {
    font-size: 1.4em;
    text-transform: uppercase;
  }
}